<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\SchemeManager.Console\packages.config" />
  <repository path="..\src\SchemeManager\packages.config" />
  <repository path="..\src\Core\packages.config" />
  <repository path="..\src\SchemeManager.Gui\packages.config" />
</repositories>